/* Write your CSS here */
.df {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}
.btn {
  width: 80px;
  height: 30px;
  margin: 10px;
  background-color: aquamarine;
  border-radius: 5px;
  border-width: 2px;
}
